@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}



:root{
    --main-color: #fff;
    --text-color: #000;
    --bg-color: #2ba5f7;
}


body{
  height: 100vh;
  height: 100dvh;
  background-color: rgb(115, 217, 230);
}




/*navigation bar*/


.navbar{
  position: relative;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(270deg, rgb(0, 255, 195), rgb(150, 120, 226) ,rgb(186, 44, 87));
  box-shadow: 2px 2px 10px rgb(144, 139, 139);
  padding: 0px 20px 0px 20px;
  z-index: 99;
  
}

.navbar ul{
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style-type: none;
  cursor: pointer;
  position: relative;
 
}

.navbar ul li a, .sidebar a{
  text-shadow: 0 0 10px rgb(234, 234, 234),
  0 0 20px rgb(234, 234, 234),
  0 0 40px rgb(234, 234, 234),
  0 0 50px rgb(234, 234, 234);
 
}

.navbar ul  a::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: blue;
  position: absolute;
  bottom: -4px;
  left: 0;
  transition: 0.5s;
  z-index: 10;
}

.navbar ul a:hover::after{
  width: 100%;
}

.navbar ul a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
}

.navbar .btn-signin{
  box-shadow: 0 0 2px rgb(90, 0, 90),
  0 0 3px rgb(90, 0, 90),
  0 0 4px rgb(90, 0, 90),
  0 0 6px rgb(90, 0, 90);
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(0, 115, 255);
  width: 70px;
  border-radius: 20px;
  border: none;
}


.navbar .btn-signin:hover{
  background-color: rgb(48, 85, 129);
}
/*sidebar*/

.sidebar span, .navbar span{
  cursor: pointer;
}

.sidebar{
  backdrop-filter: blur(20px);
  position: fixed;
  background: linear-gradient(45deg, rgb(151, 198, 224), rgb(0, 43, 128), rgb(235, 77, 77));
  width: 250px;
  height: 100vh;
  z-index: 100;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  
}


.sidebar .cross{
  position: relative;
  cursor: pointer;
  background-color: rgb(71, 16, 126);
  margin-left: 220px;
  margin-top: 10px;
  
}

.sidebar .cross:hover{
  background-color: rgb(96, 24, 167) ;
}





.sidebar li a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  height: 100%;
  text-decoration: none;
  display: flex;
  color: rgb(255, 255, 255);
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar li{
  height: 50px    ;
  width: 100%;
  

}

.sidebar li:hover{
  background-color:rgb(81, 155, 168);
}

.sidebar a{
  
  width: 100%;
}


.sidebar .btn-signin{
  box-shadow: 0 0 2px rgb(90, 0, 90),
  0 0 3px rgb(90, 0, 90),
  0 0 4px rgb(90, 0, 90),
  0 0 6px rgb(90, 0, 90);
  cursor: pointer;
  font-weight: bold;
  background-color: rgb(0, 255, 213);
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none; 
  margin: 20px 0 0 30%;
  
   
}
.sidebar .btn-signin:hover{
  background-color: rgb(2, 192, 160);
}


.navbar span{
  display: none;
}

@media (max-width: 800px) {
  .navbar span{
      display: block;
  }
  .hidenav{
      display: none;
  }
}

@media (max-width: 400px) {
  .sidebar{
      width: 100%;
  }

  .sidebar .cross{
      margin-left: 325px;
  }
  .navbar span{
      display: block;
  }
  .sidebar .btn-signin{
      width: 150px;
  }
}


/*nav end*/


/*body*/

/*cover*/

.coverpic{
  display: none;
}

.cover img{
    width: 100%;
}

.cover {
    position: relative;
    text-align: center;
    color: white;
  }

.previous{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
}
.next{
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 0;
}

.previous, .next{
  width: 70px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
}

.previous:hover, .next:hover{
  background-color: rgba(158, 158, 158, 0.723);
}

.top-left{
    position: absolute;
    top: 5rem;
    left: 10rem;
    font-size: 45px;
    background: linear-gradient(to right,rgb(153, 245, 255) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    box-shadow: 0 1px #c2c2c2c2;
  }

@keyframes slidein {
  from{
    transform: translate(-350px);
  }
  to{
    transform: translate(0);
  }
}

.top-left-small{
  position: absolute;
  top: 9rem;
  left: 15rem;
  font-size: 20px;
  font-weight: 1000;
  background: linear-gradient(to right,rgba(162, 163, 163, 0.922) 0%,rgb(145, 255, 244) ,rgb(66, 157, 255) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
} 

.bottom-center{
  position: absolute;
  bottom: 4rem;
  left: 5%;
  font-size: 40px;
  background: linear-gradient(45deg, rgb(135, 217, 238), rgb(146, 129, 255), rgb(255, 124, 124));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  box-shadow: 1px 1px rgb(255, 0, 0);
  z-index: 20;
}

@keyframes fadein {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
  
}


    
  



/*cover end*/

.detail{
    background-color: #d9f5ff;
}
  
.first video{
    width: 500px;
    height: 500px;
    object-fit: scale-down;
    margin: 20px 50px;
    float: left;
}

.first .text p, .second .text2 p{
    text-wrap: wrap;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 20px;
}

.first .text h1, .second .text2 h1{
    text-align: center;
    
}



.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.second video{
    height: 400px;
    width: 400px;
    margin: 20px 30px;
   
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*body end*/



/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
}
/*footer end*/


@media screen and (max-width: 1080px) {
    .top-left{
    position: absolute;
      top: 5rem;
      left: 10rem;
      font-size: 30px;
      background: linear-gradient(to right,rgb(153, 245, 255) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    box-shadow: 0 1px #c2c2c2c2;
    }
    
    .top-left-small{
      position: absolute;
      top: 8rem;
      left: 10rem;
      font-size: 20px;
      font-weight: 1000;
      background: linear-gradient(to right,rgba(162, 163, 163, 0.922) 0%,rgb(145, 255, 244) ,rgb(66, 157, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
} 
    
    .bottom-center{
        position: absolute;
        bottom: 4rem;
        left: 5%;
        font-size: 25px;
        background: linear-gradient(45deg, rgb(135, 217, 238), rgb(146, 129, 255), rgb(255, 124, 124));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 1000;
        box-shadow: 1px 1px rgb(255, 0, 0);
        z-index: 20;
    }
}

@media screen and (max-width: 900px){
  

  .top-left{
    position: absolute;
      top: 4rem;
      left: 4rem;
      font-size: 28px;
      background: linear-gradient(to right,rgb(153, 245, 255) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    box-shadow: 0 1px #c2c2c2c2;
    }
        
    .top-left-small{
      position: absolute;
      top: 7rem;
      left: 5rem;
      font-size: 20px;
      font-weight: 1000;
      background: linear-gradient(to right,rgba(162, 163, 163, 0.922) 0%,rgb(145, 255, 244) ,rgb(66, 157, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
} 
        .first .text p, .second .text2 p{
            text-wrap: wrap;
            text-align: justify;
            line-height: 1.5;
            margin: 10px 20px;
            font-size: 14px;
        }
        
        .first .text h1, .second .text2 h1{
            text-align: center;
            
        }

        .bottom-center{
          position: absolute;
          bottom: 3rem;
          left: 1rem;
          font-size: 22px;
          background: linear-gradient(45deg, rgb(135, 217, 238), rgb(146, 129, 255), rgb(255, 124, 124));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: 1000;
          box-shadow: 1px 1px rgb(255, 0, 0);
          z-index: 20;
      }
}

@media screen and (max-width: 760px) {
  
  
  .top-left{
    position: absolute;
      top: 2rem;
      left: 4rem;
      font-size: 24px ;
      background: linear-gradient(to right,rgb(153, 245, 255) 0%, rgb(255, 255, 255) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    box-shadow: 0 1px #c2c2c2c2;
    }
        
    .top-left-small{
      position: absolute;
      top: 5rem;
      left: 5rem;
      font-size: 18px;
      font-weight: 1000;
      background: linear-gradient(to right,rgba(162, 163, 163, 0.922) 0%,rgb(145, 255, 244) ,rgb(66, 157, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      
} 

.bottom-center{
  position: absolute;
  bottom: 2rem;
  left: 10px;
  font-size: 20px;
  background: linear-gradient(45deg, rgb(135, 217, 238), rgb(146, 129, 255), rgb(255, 124, 124));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  text-align: left;
  box-shadow: none;
  z-index: 20;
}

        .second{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            
            
        }

        .second video{
            height: 300px;
            width: 300px;
            margin: 20px 30px;
           
        }

        .first video{
            width: 300px;
            height: 250px;
            margin: 10px 20px;
            float: left;
            object-fit: cover;
        }

        .first .text p, .second .text2 p{
            text-wrap: wrap;
            text-align: justify;
            line-height: 1.5;
            margin: 10px 10px;
            font-size: 12px;
        }

        
    
}

@media screen and (max-width: 560px) {
  
  
  .top-left{
    position: absolute;
      top: 0;
      left: 4rem;
      font-size: 22px;
      background: linear-gradient(to right,rgb(153, 245, 255) 0%, rgb(255, 255, 255) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 1000;
      box-shadow: 0 1px #c2c2c2c2;
    }
        
    .top-left-small{
            position: absolute;
            top: 3rem;
            left: 4rem;
            font-size: 18px;
            font-weight: 1000;
            background: linear-gradient(to right,rgba(162, 163, 163, 0.922) 0%,rgb(145, 255, 244) ,rgb(66, 157, 255) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;


            
    } 


    .bottom-center{
      position: absolute;
      bottom: 2rem;
      left: 10px;
      font-size: 20px;
      background: linear-gradient(45deg, rgb(135, 217, 238), rgb(146, 129, 255), rgb(255, 124, 124));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 800;
      box-shadow: none;
      z-index: 20;
  }
        .second{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            
            
        }

        .second video{
            height: 250px;
            width: 250px;
            margin: 20px 30px;
           
        }

        .first video{
            width: 300px;
            height: 200px;
            margin: 10px 20px;
            float: left;
            object-fit: cover;
        }

        .first .text p, .second .text2 p{
            text-wrap: wrap;
            text-align: justify;
            line-height: 1.5;
            margin: 10px 10px;
            font-size: 10px;
        }

        .text h1, .text2 h1{
          font-size: 14px;
        }
    
}




/*Registration Form*/

#form-container{
  
  height: 100%;
  width: 100%;
  z-index: 100; 
  position: absolute;
  top: 0;
  left: 0;
  scroll-behavior: smooth;
  background-color: rgba(0,0,0,0.4); 
  display: none;
  
}



#form-container .page{
 
  height: 375px;
  width: 350px;
  background-color: rgba(255,255,255,0.1);
  border-radius: 25px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(145, 230, 239, 0.1);
  padding: 20px;
  box-shadow: 0 0 50px rgb(3, 177, 189);
  z-index: 100;
  margin: 5% auto 15% auto;
  
  
  


}


.front-login h1{
  text-align: center;
  color: white;
}

.front-login .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;

}

.front-login .input-box input{
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.front-login .input-box .bx{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 22px;
  
}

.front-login .input-box input::placeholder{
  color: white;
}

.front-login .remember-link{
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
  color: white;
}

.front-login .remember-link input{
  margin-right: 5px;
  
}

.front-login .remember-link a{
  text-decoration: none;
  color: white;
}

.front-login .remember-link a:hover{
  text-decoration: underline;
  font-weight: 600;
}

.front-login .btn-login{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 6px 6px 12px rgba(0, 0, 255, 0.1);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  z-index: 1;

}

.front-login .btn-login::before{
  content: "";
  width:  0;
  height: 40px;
  border-radius: 20px;
  background-image: linear-gradient(45deg,
  #bfdae5 0%, #616ae4 100%);
  transition: -5s ease-in;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
}

.front-login .btn-login:hover::before{
  width: 100%;
  
}

.front-login .register{
  font-size: 12px;
  margin-top: 30px;
  text-align: center;
  color: white;
  

}

.front-login .register a{
  text-decoration: none;
  color: white;
  

}

.front-login .register a:hover{
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}



/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/*Registration Form End*/



/*search*/



.search-content{
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px; 
  width: 80%;
  z-index: 8;
  margin: 5% 10% 15% 10%;
  
  

  
}

.type-search{
  width: 80%;
  height: 2rem;
}

.search-btn{
  width: 2rem;
  height: 2rem;
  
}

#example-items{
  
  height: 500px;
  display: none;
 
  left: 0;
  top: 100px;
  width: 100%; 
   height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

  
  
  
  }

#example-items h3{
  text-align: left;
  padding: 20px 20px;
  
}

.cars{
  width: 150px;
  height: 100px;

}

.desc {
  padding: 15px;
  text-align: center;
}

.models {
  background-color: rgb(222, 217, 211);
  border-radius: 20px;
  margin: 10px;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.most-search-cars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.8;
  
}

.models:hover{
  background-color: rgb(172, 167, 159);
 
  
}

.close {
  position: absolute;
  right: 15%;
  top: 27px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

#intro{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
}



/*search*/




