*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --main-color: #fff;
    --text-color: #000;
    --bg-color: #2ba5f7;
}

body{
    background-color: #8fbfdf;

}

/*navigation bar*/
header{
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    transition: 0.5s;
    background-color: var(--text-color);
    background: transparent;
    box-shadow: 1px 2px 4px grey;
 

}

.logo > img{
    width: 100px;
    height: 50px;

}

.logo{
    display: flex;
    align-items: center;
    background: linear-gradient(to right,  #78ffe8, #7362d2, #002d39);
    font-weight: bold;
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
    font-size: 12px;

}

.navbar{
    display: flex;
    align-items: center;
    column-gap: 5rem;
}

.navbar a{
    color: #2b00ff;
    font-weight: bold;
    
}

.navbar li{
    position: relative;
    
}

.navbar a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: rgb(0, 8, 115);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
    
}



.navbar a:hover::after, .navbar .active::after{
    
    width: 100%;
    
}

.btn{
    background-color: rgb(0, 255, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    height: 30px;
    width: 80px;
    box-shadow: 2px 1px 2px black;
    color: rgb(194, 0, 0);
    font-weight: bold;
    border-radius: 0.5rem;

}

.btn:hover{
    color: #19006d;
    opacity: 0.5;
    
}

/*nav end*/


/*body*/

/*cover*/

.mySlides{
  display: none;
}

.cover img{
    width: 100%;
}

.cover {
    position: relative;
    text-align: center;
    color: white;
  }

.previous{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
}
.next{
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 0;
}

.previous, .next{
  width: 70px;
  height: 50px;
  background-color: black;
  border: none;
  color: white;
}

.previous:hover, .next:hover{
  background-color: rgba(158, 158, 158, 0.723);
}

.top-left{
    position: absolute;
  top: 10rem;
  left: 10rem;
}

.top-left-small{
    position: absolute;
    top: 13.5rem;
    left: 20rem;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: rgba(0, 255, 255, 0.834);
    opacity: 0.5;
}

.bottom-center{
    position: absolute;
    bottom: 9rem;
    left: 16%;
}

.bottom-center, .top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background-color: grey;
    height: 50px;
    background: transparent;
    box-shadow: 1px 2px 1px rgb(61, 238, 251);
    font-weight: bold;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #0fd7ff, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


/*cover end*/

.detail{
    background-color: #d9f5ff;
}
  
.first video{
    width: 500px;
    height: 500px;
    object-fit: scale-down;
    margin: 20px 50px;
    float: left;
}

.first .text p, .second .text2 p{
    text-wrap: wrap;
    text-align: justify;
    line-height: 1.5;
    margin: 10px 20px;
}

.first .text h1, .second .text2 h1{
    text-align: center;
    
}



.first{
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.second video{
    height: 400px;
    width: 400px;
    margin: 20px 30px;
   
}

.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/*body end*/



/*footer*/
footer{
    background-color: black;
    color: white;
    text-align: center;
}
/*footer end*/


@media screen and (max-width: 1080px) {
    .top-left{
    position: absolute;
      top: 10rem;
      left: 10rem;
      font-size: 20px;
    }
    
    .top-left-small{
        position: absolute;
        top: 13.5rem;
        left: 10rem;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        background-color: rgba(0, 255, 255, 0.834);
        opacity: 0.5;
    }
    
    .bottom-center{
        position: absolute;
        bottom: 5rem;
        left: 20%;
        font-size: 20px;
    }
}

@media screen and (max-width: 900px){
    .top-left{
        position: absolute;
          top: 7rem;
          left: 8rem;
          font-size: 18px;
        }
        
        .top-left-small{
            position: absolute;
            top: 10.5rem;
            left: 9rem;
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            background-color: rgba(0, 255, 255, 0.834);
            opacity: 0.5;
        } 

        .first .text p, .second .text2 p{
            text-wrap: wrap;
            text-align: justify;
            line-height: 1.5;
            margin: 10px 20px;
            font-size: 14px;
        }
        
        .first .text h1, .second .text2 h1{
            text-align: center;
            
        }
}

@media screen and (max-width: 760px) {
    .top-left{
        position: absolute;
          top: 6rem;
          left: 8rem;
          font-size: 18px;
        }
        
        .top-left-small{
            position: absolute;
            top: 9.5rem;
            left: 9rem;
            font-size: 14px;
            font-weight: bold;
            color: #000000;
            background-color: rgba(0, 255, 255, 0.834);
            opacity: 0.5;
        } 

        .second{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            
            
        }

        .second video{
            height: 300px;
            width: 300px;
            margin: 20px 30px;
           
        }

        .first video{
            width: 300px;
            height: 400px;
            margin: 10px 20px;
            float: left;
        }

        .first .text p, .second .text2 p{
            text-wrap: wrap;
            text-align: justify;
            line-height: 1.5;
            margin: 10px 10px;
            font-size: 12px;
        }
    
}




/*Registration Form*/

#form-container{
  display: none; 
  position: fixed; 
  z-index: 10; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto scroll; 
  scroll-behavior: smooth;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}


.registeration-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(162, 197, 203);
  width: 40rem;
  border: black solid 2pt;
  padding: 20px 100px 20px 130px;
  margin-top: 20px;
  border-radius: 2rem;
  margin: 5% auto 15% auto;

}

.title-BMW, .signin-BMW{
  text-align: center;

}




.label-login{
  font-size: 20px;
  font-weight: bold;
}

.input-login{
  width: 380px;
  height: 30px;
  background-color: #babcbc ;
}

.label-login, .input-login{
  margin: 10px;
}

.bottom-btn{
  display: flex;
  justify-content: space-between;
}

.btn-reg{
  width: 150px;
  height: 26px;
  background-color: rgb(134, 66, 245);
}
.btn-cancel{
  width: 150px;
  height: 26px;
  background-color: #f4692d;
}

.btn-reg:hover{
  background-color: #bd0dee;
}

.btn-cancel:hover{
  background-color: red;
}




/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/*Registration Form End*/



/*search*/



.search-content{
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 20px; 
  width: 80%;
  z-index: 8;
  margin: 5% 10% 15% 10%;
  
  

  
}

.type-search{
  width: 80%;
  height: 2rem;
}

.search-btn{
  width: 2rem;
  height: 2rem;
  
}

#example-items{
  
  height: 500px;
  display: none;
 
  left: 0;
  top: 100px;
  width: 100%; 
   height: 100%; 
  overflow: auto;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

  
  
  
  }

#example-items h3{
  text-align: left;
  padding: 20px 20px;
  
}

.cars{
  width: 150px;
  height: 100px;

}

.desc {
  padding: 15px;
  text-align: center;
}

.models {
  background-color: rgb(222, 217, 211);
  border-radius: 20px;
  margin: 10px;
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

.most-search-cars{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 0.8;
  
}

.models:hover{
  background-color: rgb(172, 167, 159);
 
  
}

.close {
  position: absolute;
  right: 15%;
  top: 27px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

#intro{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  
}



/*search*/




